.Header {
    background-color: white;
    width: 100%;
   
}

.Nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    border: 10px;
    
    margin-bottom: 50px;
    text-decoration: none;
    list-style-type: none;
    
}


.Category{
    text-decoration: none;
    list-style-type: none;
    Display: inline-block;
    margin-right: 50px;
    font-weight: bold; 
    color: black;
    font-size: 20px;


}

.LogoAikido {
    display: flex;
    justify-content: center;
    width: 300px;


}

.Flexcontein {
    display: flex;
    justify-content:space-around;
    flex-flow: row wrap;
    justify-content:flex-end;
    text-decoration: none;
    list-style-type: none;


}



.CartWindget{
    display:flex;
    color: white;
    font-size: larger;
    text-decoration: none;
    

    background-color: black;
}