.Header {
    background-color: white;
    width: 100%;
   
}

nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    border: 10px;
    
    margin-bottom: 50px;
    
    
}

.Header nav ul{
    list-style-type: none;
    text-decoration: none;
    
    
}

.Header nav ul li {
    display: inline-block;
    margin-right: 50px;
    font-weight: bold; 
    color: black;
    font-size: 20px;

}

.Option{
    text-decoration: none;
    list-style-type: none;
}

.LogoAikido {
    display: flex;
    justify-content: center;
    width: 300px;


}

.Flexcontein {
    display: flex;
    justify-content:space-around;
    flex-flow: row wrap;
    justify-content:flex-end;


}



.CartWindget{
    display:flex;
    color: white;
    font-size: larger;
    

    background-color: black;
}