.CartWidget{
    padding: 12px;
    background-color: #0f5025;
    font-size: medium;
    border: 1px solid #0f5025;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
    border-style: none;
}